

.audioList {
  padding: 10px 30px;

  .title {
    font-size: 18px;
    color: #f1f1f1;
    font-weight: bold;

    span {
      color: #848484;
      font-size: 14px;
    }
  }

  .songsContainer {
    height: 220px;
    overflow-y: scroll;
    overflow-x: hidden;

    .active {
      color: #f1f1f1;
    }

    .songs {
      display: flex;
      align-items: center;
      gap: 10px;
      font-size: 14px;
      color: #b0afaf;
      font-weight: 600;
      width: 100%;
      margin: 10px 0;
      padding: 5px;
      cursor: pointer;

      :hover {
        color: #f1f1f1;
        transition: .3s ease-in-out;

      }

      .count {
        font-size: 18px;
        color: #f1f1f1;
      }

      .song {
        display: flex;
        align-items: center;
        width: 100%;
        border-bottom: 1px solid rgba(255, 255, 255, 0.2);
        padding-bottom: 5px;
        gap: 10px;
        &:hover {
          button {
            display: block;
            color: #000!important;
          }
        }

        button {
          display: none;
        }

        .imgBox {
          width: 45px;
          height: 45px;
          min-width: 45px;
          border-radius: 0.5em;
          background: #555;
          margin-right: 5px;
          overflow: hidden;

          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }

        .section {
          display: flex;
          align-items: center;
          width: 100%;
          justify-content: space-between;

          .songName {
            width: 50%;
            display: flex;
            justify-content: space-between;
            align-items: center;

            span {
              margin-left: auto;
            }
          }

          .hits {
            display: flex;
            justify-content: space-between;
            align-items: center;
            gap: 15px;

            p {
              display: flex;
              align-items: center;
              gap: 5px;
            }

            .favorite {
              i {
                color: #49e12e;
                filter: drop-shadow(0px 0px 4px #49e12e);


                &:hover {
                  color: #49e12e;
                  filter: drop-shadow(0px 0px 4px #49e12e);

                }
              }

            }
          }
        }
      }

      .songActive {
        color: #f1f1f1;
        transition: .3s ease-in-out;
      }
    }
  }
}

@media screen and (max-width: 600px){
  .audioList{
    padding: 10px 15px;
  }
  .songName{
    span{
      display: none;
    }
  }
}
@media screen and (max-width: 420px){
  .audioList{
    padding: 10px;
    .title{
      font-size: 13px;
    }
    .song{
      .section{
        .hits{
          font-size: 12px;
        }
      }
    }
  }

  .songName{
    font-size: 12px;
    span{
      display: none;
    }
  }
}